h1{
    text-align:center;
    border-bottom:1px solid grey;
    padding:20px;
    margin-left:20px;
}

.button{
    padding:10px 15px 10px 15px;
    background:blue;
    text-decoration:none;
    color:white;
    position:relative;
    top:20px;
}

.section{
   display:flex;}

 ul{
    list-style-type: none;
    width:49%;
}

input{
    padding:5px;
    margin:5px 5px 10px 5px;
    align-items:right;
    vertical-align:text-top;
    display:table;
    position:relative;
    left:65px;
    top:-20px;
}
label{
    text-align:left;
}

p.left{
    width:49%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
